# PURPOSE: git ignore file for ansible projects


# exclude IDE projects files & dirs
.DS_Store/
.DS_Store
.idea
.project

# exclude local work dirs
local/
temp/
work/

# Ignore project runtime files
# -- build directory
build/*
!build/pipelines/
# -- local dev files
.gitlab-ci.dev
# -- shared control files
.gitlab-ci.env
.gitlab-ci.run
requirements.sh

# exclude ansible related files
.debug.environment.txt
*.retry
*.pyc
meta/.galaxy_install_info

# Ignore everything in roles/ except requirements.yml
roles/*
!roles/local/
!roles/requirements.yml


# eof
